.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.loader {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top: 5px solid var(--primary);
    animation: spin .8s linear infinite;
}

.loader-container p {
    margin-top: 15px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}