.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:white;
    box-shadow:var(--shadow);
    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:var(--primary);
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:var(--primary);

}